<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    @keyframes bounce-in {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }

    .bounce-enter-active {
      animation: bounce-in .9s;
    }

    .bounce-leave-active {
      animation: bounce-in 0s reverse;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <h4 style="text-align: center;margin-top: 15px;">路漫漫其修远兮</h4>
    <div class="container">
      <button style="margin-top:20px;" class="btn btn-md btn-success" @click='check'>中午/晚上</button>
      <transition name="bounce">
        <div v-show="isShow" style="margin-top:20px;">
          <div class="left col-sm-6 float-left">
            <table class="table table-borderless table-hover table-sm">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <!-- <th scope="col">First</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">实际达成</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="actuallyAchieved" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">堂食业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="tsPerformance" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">TC</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="TC" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">业绩累计达成</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="leiJiDaCheng" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">团餐业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="tcPerformance" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">昨日业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yesterdayPerformance"
                      min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">昨日堂食</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yesterdayTsPerformance"
                      min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">昨日外卖</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yesterdayWmPerformance"
                      min="0">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="right col-sm-5 border float-left" id="foo1">
            <div id="foo1">
              <button style="margin-top: 10px;" class="btn btn-danger btn-md" data-clipboard-target="#foo1">
                一键复制
              </button>
              <!-- Trigger -->
              <ul class="list-unstyled" style="margin-top: 12px;">
                <li>丽园路</li>
                <li>日期: {{date}}</li>
                <li>今日1430业绩: {{actuallyAchieved}}</li>
                <li>业绩累计达成 ：{{leiJiDaCheng}}</li>
                <li>外送业绩: {{wsPerformance}}</li>
                <li>堂食业绩：{{tsPerformance}}</li>
                <li>TC：{{TC}}</li>
                <li>团餐业绩：{{tcPerformance}}</li>
                <li>{{new Date().getFullYear()}}/{{beforeDate}}/{{new Date().getDate()
                  -1}}昨日1430业绩：{{yesterdayPerformance}}</li>
                <li>堂食业绩：{{yesterdayTsPerformance}}</li>
                <li>外卖业绩：{{yesterdayWmPerformance}}</li>
                <li>环比昨日总业绩达成率：{{((actuallyAchieved / yesterdayPerformance) * 100 ).toFixed(2)}}%</li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
      <transition name="bounce">
        <div v-show="!isShow" style="margin-top: 30px;">
          <div class="left col-sm-6 float-left">
            <table class="table table-borderless table-hover table-sm">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <!-- <th scope="col">First</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">日期</th>
                  <td><input type="text" class="form-control" v-model="date" disabled></td>
                </tr>
                <tr>
                  <th scope="row">座位数</th>
                  <td><input type="text" class="form-control" value="34" disabled></td>
                </tr>
                <tr>
                  <th scope="row">盈亏平衡：</th>
                  <td><input type="number" class="form-control" v-model="ykph" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">去年<span v-html="beforeDate"></span>月业绩</th>
                  <td><input type="text" class="form-control" placeholder="待输入..." v-model="beforeYearYJ" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">今年<span v-html="beforeDate"></span>月目标</th>
                  <td><input type="text" class="form-control" v-model="curYearYJ" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">今年业绩目标</th>
                  <td><input type="text" class="form-control" v-model="toDayGoal" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">实际达成</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="actuallyAchieved" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">业绩累计达成</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="leiJiDaCheng" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">TC</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="TC" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">堂食业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="tsPerformance" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">团餐业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="tcPerformance" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">上班总人数</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="totalPeopleNum" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">11:00前业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yeji11" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">11:00-14:00业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yeji22" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">14:00-17:30业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yeji55" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">17:30-21:00业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="yeji99" min="0"></td>
                </tr>
                <tr>
                  <th scope="row">上月业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="beforeMonthYj" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">去年同期业绩</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="lastyearPerformance"
                      min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">卤蛋</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="LuDan" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">卤腿</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="LuTui" min="0">
                  </td>
                </tr>
                <tr>
                  <th scope="row">茄子鸡排</th>
                  <td><input type="number" class="form-control" placeholder="待输入..." v-model="qieZiJiPai" min="0">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="right col-sm-5 border float-left">
            <!-- Trigger -->
            <button class="btn btn-danger btn-md" data-clipboard-target="#foo">
              一键复制
            </button>
            <div id="foo">
              <ul class="list-unstyled" style="margin-top: 12px;">
                <li>丽园路</li>
                <li>日期: {{date}}</li>
                <li>座位数：34
                <li>盈亏平衡：{{ykph}}</li>
                <li>去年<span v-html="beforeDate"></span>月业绩：{{beforeYearYJ}}</li>
                <li>今年<span v-html="beforeDate"></span>月目标：{{curYearYJ}}</li>
                <li>今日业绩目标：{{toDayGoal}}</li>
                <li>实际达成: {{actuallyAchieved}}</li>
                <li>业绩累计达成 ：{{leiJiDaCheng}}</li>
                <li>TC: {{TC}}</li>
                <li>餐品数: {{numberOfmeals}}</li>
                <li>AC：{{AC}} %</li>
                <li>堂食业绩：{{tsPerformance}}</li>
                <li>外送业绩: {{wsPerformance}}</li>
                <li>团餐业绩：{{tcPerformance}}</li>
                <li>上班总工时：{{totalWorkingHours}}</li>
                <li>人时营业额: {{peopleHourYj}}</li>
                <li>上班总人数：{{totalPeopleNum}}</li>
                <li>11:00前业绩: {{yeji11}}</li>
                <li>占比: {{zanbi11}}</li>
                <li>11:00-14:00业绩: {{yeji22}}</li>
                <li>占比: {{zanbi22}}</li>
                <li>14:00-17:30业绩: {{yeji55}}</li>
                <li>占比: {{zanbi55}}</li>
                <li>17:30-21:00业绩: {{yeji99}}</li>
                <li>占比: {{zanbi99}}</li>
                <li>上月业绩: {{beforeMonthYj}}</li>
                <li>环比达成率：{{huanbidacheng}}</li>
                <li>去年同期业绩：{{lastyearPerformance}}</li>
                <li>同比达成：{{((actuallyAchieved / lastyearPerformance)*100).toFixed(2)}}%</li>
                <li>卤蛋: {{LuDan}}</li>
                <li>卤腿: {{LuTui}}</li>
                <li>茄子鸡排: {{qieZiJiPai}}</li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.0/vue.min.js"></script>
    <script>
      new ClipboardJS('.btn')
      var vm = new Vue({
        el: '#app',
        data: {
          ykph: 180000,
          beforeYearYJ: 197892,
          curYearYJ: 194500,
          toDayGoal: 6500,
          actuallyAchieved: '',
          leiJiDaCheng: '',
          TC: '',
          tcPerformance: '',
          tsPerformance: '',
          totalPeopleNum: '',
          yeji11: '',
          yeji22: '',
          yeji55: '',
          yeji99: '',
          beforeMonthYj: '',
          LuDan: '',
          LuTui: '',
          isShow: true,
          beforeDate: new Date().getMonth() + 1,
          yesterdayPerformance: '',
          yesterdayTsPerformance: '',
          yesterdayWmPerformance: '',
          qieZiJiPai: '',
          lastyearPerformance: '',
        },
        computed: {
          date() {
            var date = new Date()
            var year = date.getFullYear()
            var month = date.getMonth() + 1
            var _date = date.getDate()
            date = year + '/' + month + '/' + _date
            return date
          },
          //餐品数
          numberOfmeals() {
            return this.TC ? this.TC * 1.5 : ''
          },
          // AC
          AC() {
            return this.actuallyAchieved && this.TC ? (this.actuallyAchieved / this.TC).toFixed(2) : ''
          },
          //外送业绩
          wsPerformance() {
            if (this.actuallyAchieved && this.tsPerformance) {

              return (this.actuallyAchieved - this.tsPerformance).toFixed(2);
            }
          },
          //总工时
          totalWorkingHours() {
            return this.totalPeopleNum ? this.totalPeopleNum * 8 : ''
          },
          zanbi11() {
            return this.actuallyAchieved ? (this.yeji11 / this.actuallyAchieved * 100).toFixed(1) + '%' : ''
          },
          zanbi22() {
            return this.actuallyAchieved ? (this.yeji22 / this.actuallyAchieved * 100).toFixed(1) + '%' : ''
          },
          zanbi55() {
            return this.actuallyAchieved ? (this.yeji55 / this.actuallyAchieved * 100).toFixed(1) + '%' : ''
          },
          zanbi99() {
            return this.actuallyAchieved ? (this.yeji99 / this.actuallyAchieved * 100).toFixed(1) + '%' : ''
          },
          peopleHourYj() {
            return this.actuallyAchieved && this.totalWorkingHours ? (this.actuallyAchieved / this.totalWorkingHours).toFixed(0) : ''
          },
          huanbidacheng() {
            if (0 == this.beforeMonthYj) {
              return 0 + '%'
            }
            return this.beforeMonthYj ? (this.actuallyAchieved / this.beforeMonthYj * 100).toFixed(1) + '%' : ''
          },
        },
        methods: {
          check() {
            this.isShow = !this.isShow
            var date = new Date()
            var day = date.getDay()
            if (day == 7 || day == 6) {
              this.toDayGoal = 6000
            }
          }
        },
      })
    </script>
</body>

</html>
