<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script> -->
</head>

<body>
  <div id="app" v-cloak>
    <div class="container">
      <button style="margin-top:20px" class="btn btn-sm btn-success" @click='check'>中午/晚上</button>

      <div v-show="isShowA" style="margin-top:20px;">
        <div class="left col-sm-6 float-left">
          <table class="table table-borderless table-hover table-sm">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <!-- <th scope="col">First</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">实际达成</th>
                <td><input type="number" class="form-control" v-model="actuallyAchieved" min="0"></td>
              </tr>
              <tr>
                <th scope="row">堂食业绩</th>
                <td><input type="number" class="form-control" v-model="tsPerformance" min="0"></td>
              </tr>
              <tr>
                <th scope="row">美团付款</th>
                <td><input type="number" class="form-control" v-model="MeiTuanFuKuan" min="0"></td>
              </tr>
              <tr>
                <th scope="row">美团优惠</th>
                <td><input type="number" class="form-control" v-model="MeiTuanYouHui" min="0"></td>
              </tr>
              <tr>
                <th scope="row">饿了么付款</th>
                <td><input type="number" class="form-control" v-model="ElementFuKuan" min="0"></td>
              </tr>
              <tr>
                <th scope="row">饿了么优惠</th>
                <td><input type="number" class="form-control" v-model="ElementYouHui" min="0"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="right col-sm-5 border float-left" id="foo1">

          <!-- Trigger -->
          <button style="margin-top: 10px;" class="btn btn-success btn-sm" data-clipboard-target="#foo1">
            复制
          </button>
          <ul class="list-unstyled" style="margin-top: 12px;">
            <li>丽园路</li>
            <li>日期: {{date}}</li>
            <li>今日总业绩:  {{actuallyAchieved}}</li>
            <li>外送业绩: {{wsPerformance}}</li>
            <li>堂食业绩：{{tsPerformance}}</li>
            <li>美团补贴率: {{MeiTuanBuTieLv}}</li>
            <li>饿了么补贴率: {{ElementBuTieLv}}</li>
          </ul>
        </div>
      </div>

      <div v-show="isShowB" style="margin-top: 30px;">
        <div class="left col-sm-6 float-left">
          <table class="table table-borderless table-hover table-sm">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <!-- <th scope="col">First</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">日期</th>
                <td><input type="text" class="form-control" v-model="date" disabled></td>
              </tr>
              <tr>
                <th scope="row">座位数</th>
                <td><input type="text" class="form-control" value="34" disabled></td>
              </tr>
              <tr>
                <th scope="row">盈亏平衡：</th>
                <td><input type="number" class="form-control" v-model="ykph" min="0"></td>
              </tr>
              <tr>
                <th scope="row">去年11月业绩</th>
                <td><input type="text" class="form-control" v-model="beforeYearYJ" min="0"></td>
              </tr>
              <tr>
                <th scope="row">今年11月目标</th>
                <td><input type="text" class="form-control" v-model="curYearYJ" min="0"></td>
              </tr>
              <tr>
                <th scope="row">今年业绩目标</th>
                <td><input type="text" class="form-control" v-model="toDayGoal" min="0"></td>
              </tr>
              <tr>
                <th scope="row">实际达成</th>
                <td><input type="number" class="form-control" v-model="actuallyAchieved" min="0"></td>
              </tr>
              <tr>
                <th scope="row">业绩累计达成</th>
                <td><input type="number" class="form-control" v-model="leiJiDaCheng" min="0"></td>
              </tr>
              <tr>
                <th scope="row">TC</th>
                <td><input type="number" class="form-control" v-model="TC" min="0"></td>
              </tr>
              <tr>
                <th scope="row">堂食业绩</th>
                <td><input type="number" class="form-control" v-model="tsPerformance" min="0"></td>
              </tr>
              <tr>
                <th scope="row">团餐业绩</th>
                <td><input type="number" class="form-control" v-model="tcPerformance" min="0"></td>
              </tr>
              <tr>
                <th scope="row">上班总人数</th>
                <td><input type="number" class="form-control" v-model="totalPeopleNum" min="0"></td>
              </tr>
              <tr>
                <th scope="row">11：00前业绩</th>
                <td><input type="number" class="form-control" v-model="yeji11" min="0"></td>
              </tr>
              <tr>
                <th scope="row">11：00-14:00业绩</th>
                <td><input type="number" class="form-control" v-model="yeji22" min="0"></td>
              </tr>
              <tr>
                <th scope="row">14：00-17:30业绩</th>
                <td><input type="number" class="form-control" v-model="yeji55" min="0"></td>
              </tr>
              <tr>
                <th scope="row">17:30-21:00业绩</th>
                <td><input type="number" class="form-control" v-model="yeji99" min="0"></td>
              </tr>
              <tr>
                <th scope="row">上月业绩</th>
                <td><input type="number" class="form-control" v-model="beforeMonthYj" min="0"></td>
              </tr>
              <tr>
                <th scope="row">美团付款</th>
                <td><input type="number" class="form-control" v-model="MeiTuanFuKuan" min="0"></td>
              </tr>
              <tr>
                <th scope="row">美团优惠</th>
                <td><input type="number" class="form-control" v-model="MeiTuanYouHui" min="0"></td>
              </tr>
              <tr>
                <th scope="row">饿了么付款</th>
                <td><input type="number" class="form-control" v-model="ElementFuKuan" min="0"></td>
              </tr>
              <tr>
                <th scope="row">饿了么优惠</th>
                <td><input type="number" class="form-control" v-model="ElementYouHui" min="0"></td>
              </tr>
              <tr>
                <th scope="row">冒菜</th>
                <td><input type="number" class="form-control" v-model="MaoCai" min="0"></td>
              </tr>
              <tr>
                <th scope="row">咖啡奶茶</th>
                <td><input type="number" class="form-control" v-model="Coffee" min="0"></td>
              </tr>
              <tr>
                <th scope="row">酸菜鱼</th>
                <td><input type="number" class="form-control" v-model="SuanCaifish" min="0"></td>
              </tr>
              <tr>
                <th scope="row">炖鸡米线</th>
                <td><input type="number" class="form-control" v-model="DunJiMiXian" min="0"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="right col-sm-5 border float-left" id="foo">

          <!-- Trigger -->
          <button class="btn btn-success btn-sm" data-clipboard-target="#foo">
            复制
          </button>
          <ul class="list-unstyled" style="margin-top: 12px;">
            <li>丽园路</li>
            <li>日期: {{date}}</li>
            <li>座位数：34
            <li>盈亏平衡：{{ykph}}</li>
            <li>去年11月业绩：无</li>
            <li>今年11月目标：{{curYearYJ}}</li>
            <li>今日业绩目标：{{toDayGoal}}</li>
            <li>实际达成: {{actuallyAchieved}}</li>
            <li>业绩累计达成 ：{{leiJiDaCheng}}</li>
            <li>TC: {{TC}}</li>
            <li>餐品数: {{numberOfmeals}}</li>
            <li>AC：{{AC}} %</li>
            <li>堂食业绩：{{tsPerformance}}</li>
            <li>外送业绩: {{wsPerformance}}</li>
            <li>团餐业绩：{{tcPerformance}}</li>
            <li>上班总工时：{{totalWorkingHours}}</li>
            <li>人时营业额: {{peopleHourYj}}</li>
            <li>上班总人数：{{totalPeopleNum}}</li>
            <li>11：00前业绩: {{yeji11}}</li>
            <li>占比: {{zanbi11}}</li>
            <li>11：00––14:00业绩: {{yeji22}}</li>
            <li>占比: {{zanbi22}}</li>
            <li>14:00—17:30业绩: {{yeji55}}</li>
            <li>占比: {{zanbi55}}</li>
            <li>17:30-21:00业绩: {{yeji99}}</li>
            <li>占比: {{zanbi99}}</li>
            <li>上月业绩: {{beforeMonthYj}}</li>
            <li>环比达成率：{{huanbidacheng}}</li>
            <li>美团补贴率: {{MeiTuanBuTieLv}}</li>
            <li>饿了么补贴率: {{ElementBuTieLv}}</li>
            <li>冒菜: {{MaoCai}}</li>
            <li>咖啡奶茶: {{Coffee}}</li>
            <li>酸菜鱼: {{SuanCaifish}}</li>
            <li>炖鸡米线: {{DunJiMiXian}}</li>
          </ul>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="./vue.js"></script>
    <script>
      new ClipboardJS('.btn');

      const vm = new Vue({
        el: '#app',
        data: {

          ykph: 15000,          //盈亏平衡
          beforeYearYJ: '无',   //去年11月业绩
          curYearYJ: 240000,    //今年11月目标 
          toDayGoal: 8000,      //今日业绩目标
          actuallyAchieved: 0,  //实际达成
          leiJiDaCheng: 0,      //累计达成
          TC: 0,                //TC 
          tcPerformance: 0,     //团餐业绩
          tsPerformance: 0,     //堂食业绩
          totalPeopleNum: 0,     // 
          yeji11: 0,
          yeji22: 0,
          yeji55: 0,
          yeji99: 0,
          beforeMonthYj: 0,
          MeiTuanFuKuan: 0,
          MeiTuanYouHui: 0,
          ElementFuKuan: 0,
          ElementYouHui: 0,
          MaoCai: 0,
          Coffee: 0,
          SuanCaifish: 0,
          DunJiMiXian: 0,
          isShowA: true,
          isShowB: false
        },
        computed: {
          date() {
            let date = new Date()
            date = date.getFullYear() + '/' + date.getMonth() + '/' + date.getDate()
            return date
          },
          //餐品数
          numberOfmeals() {
            return this.TC ? this.TC * 1.5 : 0
          },
          // AC
          AC() {
            return this.actuallyAchieved && this.TC ? (this.actuallyAchieved / this.TC).toFixed(2) : 0
          },
          //外送业绩
          wsPerformance() {
            return this.actuallyAchieved && this.tsPerformance ? this.actuallyAchieved - this.tsPerformance : 0
          },
          //堂食业绩
          tsPerformance() {
            this.tsPerformance = this.tcPerformance ? this.tsPerformance - this.tcPerformance : this.tsPerformance
            return this.tsPerformance
          },
          //总工时
          totalWorkingHours() {
            return this.totalPeopleNum ? this.totalPeopleNum * 8 : 0
          },
          zanbi11() {
            return this.actuallyAchieved ? (this.yeji11 / this.actuallyAchieved * 100).toFixed(1) + '%' : 0
          },
          zanbi22() {
            return this.actuallyAchieved ? (this.yeji22 / this.actuallyAchieved * 100).toFixed(1) + '%' : 0
          },
          zanbi55() {
            return this.actuallyAchieved ? (this.yeji55 / this.actuallyAchieved * 100).toFixed(1) + '%' : 0
          },
          zanbi99() {
            return this.actuallyAchieved ? (this.yeji99 / this.actuallyAchieved * 100).toFixed(1) + '%' : 0
          },
          peopleHourYj() {
            return this.actuallyAchieved && this.totalWorkingHours ? (this.actuallyAchieved / this.totalWorkingHours).toFixed(0) : 0
          },
          huanbidacheng() {
            return this.beforeMonthYj ? (this.actuallyAchieved / this.beforeMonthYj * 100).toFixed(1) + '%' : 0
          },
          MeiTuanBuTieLv() {
            return this.MeiTuanFuKuan && this.MeiTuanYouHui ? ((this.MeiTuanYouHui / ((this.MeiTuanFuKuan * 10 + this.MeiTuanYouHui * 10) / 10)) * 100).toFixed(1) + '%' : 0
          },
          ElementBuTieLv() {
            return this.ElementFuKuan && this.ElementYouHui ? ((this.ElementYouHui / ((this.ElementFuKuan * 10 + this.ElementYouHui * 10) / 10)) * 100).toFixed(1) + '%' : 0
          },
        },
        methods: {
          check() {
            this.isShowA = !this.isShowA
            this.isShowB = !this.isShowB
          }
        },
      })
    </script>
</body>

</html>
